<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1><strong>Đổi mật khẩu</strong></h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="formUser" data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="pass">
                            Mật khẩu hiện tại: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="passOld" name="passOld" required="required" class="form-control col-md-7 col-xs-12" message-validator="Vui lòng nhập mật hiện tại!">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="pass">
                            Mật khẩu mới: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="passNew" name="passNew" required="required" class="form-control col-md-7 col-xs-12" message-validator="Vui lòng nhập mật khẫu mới!">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="pass">
                            Nhập lại mật khẩu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="passNewAgain" name="passNewAgain" required="required" class="form-control col-md-7 col-xs-12" message-validator="Vui lòng nhập lại mật khẩu!">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                            <button class="btn btn-warning" type="button" id="cancelbutton"><i class="fa fa-times"></i> Hủy</button>
                            <button class="btn btn-primary" type="reset"><i class="fa fa-refresh"></i> Nhập lại</button>
                            <button class="btn btn-success" type="button" id="sumbitbutton"><i class="fa fa-check"></i> Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/user.js")"></script>